@model AddNewRecipeInstructionViewModel

<div class="form-group row">
    <label asp-for="Description"></label>
    <input class="form-control" asp-for="Description"/>
    <span asp-validation-for="Description"></span>
</div>

