@model AddNewRecipeIngredientViewModel

<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="Measurement"></label>
        <input class="form-control" asp-for="Measurement"/>
        <span asp-validation-for="Measurement"></span>
    </div>

    <div class="form-group  col-md-6">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
</div>
