@model AddNewRecipeInstructionViewModel

<div class="row">
    <div class="form-group col-md-12">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </div>
</div>

